<ion-header>
  <ion-toolbar>
    <ion-title>paises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/AR.jpg"></ion-img></ion-avatar>
  <h1>Argentina</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item>

<ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Bo.jpg"></ion-img></ion-avatar>
  <h1>Bolivia</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 

<ion-item></ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Bra.jpg"></ion-img></ion-avatar>
  <h1>Brazil</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 

<ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Ca.jpg"></ion-img></ion-avatar>
  <h1>Canada</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 

ion-item></ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Co.jpg"></ion-img></ion-avatar>
  <h1>Colombia</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 

ion-item></ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Ec.jpg"></ion-img></ion-avatar>
  <h1>Ecuador</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 

ion-item></ion-item>
<ion-avatar slot="start">
  <ion-img style="width: 50px; height: 50px; "src="../assets/images/Es.jpg"></ion-img></ion-avatar>
  <h1>Estados Unidos</h1>
  <ion-icon *ngIf="!pais.reproduciendo" name="play" item-end></ion-icon>
  <ion-input></ion-input>
</ion-item> 
</ion-content>
